@import "./reset.css";


.spaceship {
    width: 150px;
    height: 150px;
    background: url('./img.png') no-repeat 0 0 / auto 150px ;
    animation: ani 1s infinite steps(17);
}

@keyframes ani {
    to {
        background-position: -2550px 0;
    }
}